@import 'variables';
@import 'mixin';

@font-face {
  font-family: 'Norteworthy';
  src: url('./assets/Fonts/Noteworthy-Lt.woff') format('woff');
}

body {
  font-family: 'Norteworthy';
}

.landing {
  &__map-background {
    background: url('./assets/UI/Icons/Map.svg') no-repeat center;
    background-position-x: 40%;
  }
  &__first-image {
    padding-top: 147px;
    img {
      top: 2px;
      position: relative;
    }
  }
  &__hello-world {
    position: absolute;
    text-align: center;
    top: 200px;
    margin-left: 2px;
  }
  &__who-i-am {
    background-color: $primary;
    height: 618px;
    padding-top: 133px;
    &__ninja {
      margin-bottom: 24px;
    }
    &__technologies {
      width: 184px;
      img:not(:first-child) {
        margin-left: 8px;
      }
    }

    &__description {
      color: white;
      margin-top: 32px;
      line-height: 32px;
    }
  }
}

.companies {
  height: auto;
  &__title {
    line-height: 58px;
    margin-top: 56px;
  }

  &__panel-set {
    margin-top: 122px;
    &__panel {
      $root: &;
      @include fullCenterFlex;
      width: 318px;
      height: 162px;
      box-shadow: 0 6px 22px #ebeaec;
      border-radius: 4px;
      margin-top: 56px;
      &:hover {
        img {
          transition: 0.5s;
          opacity: 0;
          visibility: hidden;
        }
        #{$root}__visit-web {
          opacity: 1;
          transition: 1s;
        }
      }
      &__visit-web {
        opacity: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 318px;
        height: 162px;
        a {
          border: 2px solid $primary;
          border-radius: 5px;
          padding: 5px 15px;
          color: $primary;
          text-decoration: none;
          &:hover {
            background-color: $primary;
            color: white;
          }
        }
      }
    }
  }

  &__technologies {
    display: flex;
    margin-top: 24px;
    &__icon {
      @include fullCenterFlex;
      box-shadow: 0 6px 22px #ebeaec;
      border-radius: 15px;
      width: 50px;
      height: 50px;
      margin-right: 8px;
      img {
        width: 30px;
      }
    }
  }
}

.skills {
  height: auto;
  margin-top: 178px;
  &__skill-set,
  &__skill-set-2 {
    &__item {
      &__content {
        width: 200px;
      }
      &__description {
        margin-left: 24px;
        width: auto;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  &__skill-set {
    margin-top: 178px;
  }
  &__skill-set-2 {
    margin-top: 80px;
  }
}

.contact-me {
  margin-top: 178px;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: $primary;
  &__title {
    color: white;
  }
  &__icons {
    &__item {
      @include fullCenterFlex;
      @include iconPanel;
      margin-right: 56px;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 30px;
      }
    }
    margin-top: 56px;
  }
}

@media only screen and (max-width: 500px) {
  .landing {
    &__first-image {
      padding-top: 100px;
    }
    &__hello-world {
      top: 150px;
    }
    &__who-i-am {
      padding-top: 50px;
      padding-bottom: 50px;
      height: auto;
    }
  }
  .skills {
    margin-top: 50px;
    padding-top: 0;
    &__title {
      font-size: 28px;
    }
    &__skill-set,
    &__skill-set-2 {
      margin-top: 20px;
      &__item {
        margin-top: 50px;
        &__description {
          width: 180px;
        }
      }
    }
    &__skill-set-2 {
      margin-top: 0;
    }
  }
  .contact-me {
    margin-top: 50px;
    &__title {
      h1 {
        font-size: 28px;
      }
    }
    &__icons {
      &__item {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
