@import 'variables';
@import 'mixin';

@font-face {
  font-family: 'Norteworthy';
  src: url('../assets/Fonts/Noteworthy-Lt.woff') format('woff');
}

body {
  font-family: 'Norteworthy';
  display: grid;
  row-gap: 168px;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.companies,
.technologies,
.skills {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.landing {
  &__map-background {
    background: url('../assets/UI/Icons/Map.svg') no-repeat center;
    background-position-x: 40%;
  }
  &__first-image {
    display: flex;
    justify-content: center;
    padding-top: 147px;
    &__img {
      top: 2px;
      position: relative;
      &--mobile {
        display: none;
      }
    }
  }
  &__hello-world {
    position: absolute;
    text-align: center;
    top: 200px;
    margin-left: 2px;
  }
  &__who-i-am {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
    padding: 132px 0;
    &__ninja {
      margin-bottom: 24px;
    }
    &__technologies {
      display: flex;
      justify-content: center;
      width: 184px;
      img:not(:first-child) {
        margin-left: 8px;
      }
    }
    &__description {
      text-align: center;
      width: 50%;
      color: white;
      margin-top: 32px;
      line-height: 32px;
      padding: 0 24px;
      font-size: 1.25rem;
    }
  }
}

.companies {
  height: auto;
  &__title {
    text-align: center;
  }

  &__panel-set {
    display: flex;
    justify-content: space-between;
    &__panel {
      $root: &;
      @include fullCenterFlex;
      width: 318px;
      height: 162px;
      box-shadow: 0 6px 22px #ebeaec;
      border-radius: 4px;
      margin-top: 56px;
      &:hover {
        img {
          transition: 0.5s;
          opacity: 0;
          visibility: hidden;
        }
        #{$root}__visit-web {
          opacity: 1;
          transition: 1s;
        }
      }
      &__visit-web {
        opacity: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 318px;
        height: 162px;
        a {
          border: 2px solid $primary;
          border-radius: 5px;
          padding: 5px 15px;
          color: $primary;
          text-decoration: none;
          &:hover {
            background-color: $primary;
            color: white;
          }
        }
      }
    }
  }
  &__technologies {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    &__icon {
      @include fullCenterFlex;
      box-shadow: 0 6px 22px #ebeaec;
      border-radius: 15px;
      width: 50px;
      height: 50px;
      margin-right: 8px;
      img {
        width: 30px;
      }
    }
  }
}

.skills {
  height: auto;
  width: 100%;
  &__title {
    text-align: center;
  }
  &__skill-set,
  &__skill-set-2 {
    display: flex;
    justify-content: space-between;
    &__item {
      &__content {
        width: 200px;
        text-align: center;
      }
      &__description {
        width: auto;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  &__skill-set {
    margin-top: 56px;
  }
  &__skill-set-2 {
    margin-top: 80px;
  }
}

.contact-me {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: $primary;
  &__title {
    text-align: center;
    color: white;
  }
  &__icons {
    display: flex;
    justify-content: center;
    &__item {
      @include fullCenterFlex;
      @include iconPanel;
      margin-right: 56px;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 30px;
      }
    }
    margin-top: 56px;
  }
}

@media only screen and (max-width: 600px) {
  .landing {
    &__first-image {
      padding-top: 100px;
      &__img {
        display: none;
        &--mobile {
          display: block;
        }
      }
    }
    &__hello-world {
      top: 150px;
    }
    &__who-i-am {
      padding-top: 50px;
      padding-bottom: 50px;
      height: auto;
      &__description {
        width: 80%;
        text-align: center;
      }
    }
  }
  .companies {
    &__title {
      width: 80%;
      margin: 0 auto 56px auto;
      font-size: 28px;
    }
    &__panel-set {
      &__panel {
        &--first {
          margin-top: 0;
        }
      }
    }
  }
  .skills {
    padding-top: 0;
    &__title {
      font-size: 28px;
    }
    &__skill-set,
    &__skill-set-2 {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      &__item {
        margin-top: 50px;
        &__description {
          width: 180px;
        }
        &__content {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    &__skill-set-2 {
      margin-top: 0;
    }
  }
  .contact-me {
    &__title {
      h1 {
        font-size: 28px;
      }
    }
    &__icons {
      &__item {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 670px) {
  .companies {
    &__panel-set {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
  }
}
